@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@font-face {
    font-family: "Figtree";
    src: url("/fonts/Figtree.woff2") format("woff2");
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Figtree";
    src: url("/fonts/Figtree-Italic.woff2") format("woff2");
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --color-base: white;
    --color-crust: #dcdcdc;
    --color-mantle: #ebebeb;
    --color-surface-0: #f5f5f5;
    --color-surface-1: #eeeeee;
    --color-surface-2: #e4e4e4;
    --color-overlay-0: #d0d0d0;
    --color-overlay-1: #bbbbbb;
    --color-overlay-2: #aaaaaa;
    --color-subtext-0: #737373;
    --color-subtext-1: #5a5a5a;
    --color-text: #3c3c3c;
    --color-primary: #2988df;
    --color-danger: #e14141;
}

body[data-theme="dark"] {
    --color-base: #232323;
    --color-crust: #0f0f0f;
    --color-mantle: #181818;
    --color-surface-0: #2d2d2d;
    --color-surface-1: #383838;
    --color-surface-2: #444444;
    --color-overlay-0: #4e4e4e;
    --color-overlay-1: #555555;
    --color-overlay-2: #585858;
    --color-subtext-0: #808080;
    --color-subtext-1: #9a9a9a;
    --color-text: #c0c0c0;
    --color-primary: #86c6e1;
    --color-danger: #ff8b8b;
}

body[data-theme="catppuccin"] {
    --color-base: var(--color-ctp-base);
    --color-crust: var(--color-ctp-crust);
    --color-mantle: var(--color-ctp-mantle);
    --color-surface-0: var(--color-ctp-surface0);
    --color-surface-1: var(--color-ctp-surface1);
    --color-surface-2: var(--color-ctp-surface2);
    --color-overlay-0: var(--color-ctp-overlay0);
    --color-overlay-1: var(--color-ctp-overlay1);
    --color-overlay-2: var(--color-ctp-overlay2);
    --color-subtext-0: var(--color-ctp-subtext0);
    --color-subtext-1: var(--color-ctp-subtext1);
    --color-text: var(--color-ctp-text);
    --color-primary: var(--color-ctp-mauve);
    --color-danger: var(--color-ctp-red);
}

@theme {
    --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif;

    --color-background: var(--color-base);
    --color-dashes: var(--color-surface-2);
}
