@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree.woff2") format("woff2");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/fonts/Figtree-Italic.woff2") format("woff2");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-base: white;
  --color-crust: #dcdcdc;
  --color-mantle: #ebebeb;
  --color-surface-0: #f5f5f5;
  --color-surface-1: #eeeeee;
  --color-surface-2: #e4e4e4;
  --color-overlay-0: #d0d0d0;
  --color-overlay-1: #bbbbbb;
  --color-overlay-2: #aaaaaa;
  --color-subtext-0: #737373;
  --color-subtext-1: #5a5a5a;
  --color-txt: #3c3c3c;
  --color-primary: #2988df;
  --color-primary-dark: oklch(from var(--color-primary) calc(l - 0.1) c h);
  --color-primary-darker: oklch(from var(--color-primary) calc(l - 0.16) c h);
  --color-success: #4caf50;
  --color-success-dark: oklch(from var(--color-success) calc(l - 0.1) c h);
  --color-success-darker: oklch(from var(--color-success) calc(l - 0.16) c h);
  --color-warning: #ffc107;
  --color-warning-dark: oklch(from var(--color-warning) calc(l - 0.1) c h);
  --color-warning-darker: oklch(from var(--color-warning) calc(l - 0.16) c h);
  --color-danger: #e14141;
  --color-danger-dark: oklch(from var(--color-danger) calc(l - 0.1) c h);
  --color-danger-darker: oklch(from var(--color-danger) calc(l - 0.16) c h);
}

body[data-theme="dark"] {
  --color-base: #232323;
  --color-crust: #0f0f0f;
  --color-mantle: #181818;
  --color-surface-0: #2d2d2d;
  --color-surface-1: #383838;
  --color-surface-2: #444444;
  --color-overlay-0: #4e4e4e;
  --color-overlay-1: #555555;
  --color-overlay-2: #585858;
  --color-subtext-0: #808080;
  --color-subtext-1: #9a9a9a;
  --color-txt: #c0c0c0;
  --color-primary: #86c6e1;
  --color-primary-dark: oklch(from var(--color-primary) calc(l - 0.1) c h);
  --color-primary-darker: oklch(from var(--color-primary) calc(l - 0.16) c h);
  --color-danger: #ff8b8b;
  --color-danger-dark: oklch(from var(--color-danger) calc(l - 0.1) c h);
  --color-danger-darker: oklch(from var(--color-danger) calc(l - 0.16) c h);
}

body[data-theme="catppuccin"] {
  --color-base: var(--color-ctp-base);
  --color-crust: var(--color-ctp-crust);
  --color-mantle: var(--color-ctp-mantle);
  --color-surface-0: var(--color-ctp-surface0);
  --color-surface-1: var(--color-ctp-surface1);
  --color-surface-2: var(--color-ctp-surface2);
  --color-overlay-0: var(--color-ctp-overlay0);
  --color-overlay-1: var(--color-ctp-overlay1);
  --color-overlay-2: var(--color-ctp-overlay2);
  --color-subtext-0: var(--color-ctp-subtext0);
  --color-subtext-1: var(--color-ctp-subtext1);
  --color-txt: var(--color-ctp-text);
  --color-primary: var(--color-ctp-mauve);
  --color-primary-dark: oklch(from var(--color-primary) calc(l - 0.1) c h);
  --color-primary-darker: oklch(from var(--color-primary) calc(l - 0.16) c h);
  --color-success: var(--color-ctp-green);
  --color-success-dark: oklch(from var(--color-success) calc(l - 0.1) c h);
  --color-success-darker: oklch(from var(--color-success) calc(l - 0.16) c h);
  --color-warning: var(--color-ctp-yellow);
  --color-warning-dark: oklch(from var(--color-warning) calc(l - 0.1) c h);
  --color-warning-darker: oklch(from var(--color-warning) calc(l - 0.16) c h);
  --color-danger: var(--color-ctp-red);
  --color-danger-dark: oklch(from var(--color-danger) calc(l - 0.1) c h);
  --color-danger-darker: oklch(from var(--color-danger) calc(l - 0.16) c h);
}

@theme {
  --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif;

  --color-mantle: var(--color-mantle);
  --color-crust: var(--color-crust);
  --color-surface-0: var(--color-surface-0);
  --color-surface-1: var(--color-surface-1);
  --color-surface-2: var(--color-surface-2);
  --color-overlay-0: var(--color-overlay-0);
  --color-overlay-1: var(--color-overlay-1);
  --color-overlay-2: var(--color-overlay-2);
  --color-subtext-0: var(--color-subtext-0);
  --color-subtext-1: var(--color-subtext-1);

  --color-txt: var(--color-txt);
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-primary-darker: var(--color-primary-darker);
  --color-success: var(--color-success);
  --color-success-dark: var(--color-success-dark);
  --color-success-darker: var(--color-success-darker);
  --color-warning: var(--color-warning);
  --color-warning-dark: var(--color-warning-dark);
  --color-warning-darker: var(--color-warning-darker);
  --color-danger: var(--color-danger);
  --color-danger-dark: var(--color-danger-dark);
  --color-danger-darker: var(--color-danger-darker);
}

@layer base {
  body {
    @apply scroll-smooth bg-(--color-base);
  }

  h1 {
    @apply text-txt text-4xl leading-tight font-extrabold text-balance;
  }

  h2 {
    @apply text-subtext-0 text-3xl leading-tight font-bold text-balance;
  }

  h3 {
    @apply text-subtext-0 text-2xl leading-tight font-bold text-balance;
  }

  h4 {
    @apply text-subtext-0 text-xl leading-tight font-semibold text-balance;
  }

  p {
    @apply text-txt leading-relaxed text-pretty;
  }

  small {
    @apply text-[75%];
  }

  label {
    @apply text-subtext-1 font-medium;
  }
}

@utility stack {
  @apply flex flex-col gap-4;
}

@utility stack-1 {
  @apply flex flex-col gap-1;
}

@utility stack-2 {
  @apply flex flex-col gap-2;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility dashed-grid {
  background-color: color-mix(var(--color-overlay-0), transparent 40%);
  mask-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='104'%20height='104'%3E%3Cpath%20d='M0%200H104M0%200V104'%20fill='none'%20stroke='black'%20stroke-width='1'%20stroke-dasharray='8%208'/%3E%3C/svg%3E");
}

@utility prose {
  & > * + * {
    @apply mbs-[1em];
  }
}
