DATABASE_URL=postgres://sapere:sapere@localhost:54562/sapere
REDIS_URL=redis://localhost:64702

BETTER_AUTH_SECRET=a_minimum_32_length_string_for_encryption_and_hashing
BETTER_AUTH_URL=http://localhost:5173

PUBLIC_URL=http://localhost:5173
APP_NAME=Sapere

SENTRY_DSN=https://project-id@sentry.yoursite.com/1

NODE_ENV=development
